.card{
    width: 20em !important;
}
.card img{
    width: 100%!important;
    height: 15em!important;
}
.section p{
    font-size: 20px!important;
    letter-spacing: 0.8px!important;
}

@media screen and (max-width: 576px) {
    .card{
        width: 18rem !important;
        text-align: center;
    }
    .section p{
        font-size: 14px !important;
    }
    .card-text{
        font-size: 14px !important;
    }
    .card-body h5{
        font-size: 16px !important;
    }
   
}